html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    min-height: 100%;
    position: relative;
}

.row-main {
    padding-bottom: 112px; /* Height of footer */
}

#footerblock1177 {
    bottom: 0;
    height: 112px;
    position: absolute;
    width: 100%;
}

.right-align {
    text-align: right;
}

.avrop-table {
    border-collapse: collapse;
}

.avrop-table thead {
    background-color: #008391;
    background-image: -webkit-linear-gradient(#128693, #006a7b);
    background-image: linear-gradient(#128693, #006a7b);
    color: #ffffff;
    font-style: italic;
}

.avrop-table td {
    border: 1px solid #000000;
    padding: 8px;
}

.checkbox {
}

.checkbox input[type="checkbox"] {
    display:none;
}

.checkbox input[type="checkbox"] + label {
    background-image: url("../img/unchecked.png");
    height: 24px;
    width: 24px;
    display: inline-block;
    padding: 0 0 0 0px;
    background-size: 24px;
    background-repeat: no-repeat;
}

.checkbox input[type="checkbox"]:checked + label {
    display:none;
    background-image: url("../img/checked.png");
    height: 24px;
    width: 24px;
    display:inline-block;
    padding: 0 0 0 0px;
}

.no-wrap {
    white-space: nowrap;
}

button.back-button, .button.back-button, input[type="submit"].back-button {
    background-image: -webkit-linear-gradient(top, #989898, #6B6B6B);
    border-color: #6B6B6B;

}

button.back-button:hover, .button.back-button:hover, input[type="submit"].back-button:hover {
    background-color: #ffffff;
    background-image: none;
    /*background-color: #929292;*/
    /*background-image: -webkit-linear-gradient(top, #939494, #797979);*/
    color: #6B6B6B;
}

/*** TOOLBAR ***/
ul.caseDetailToolbar,ul.toolbar {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

ul.caseDetailToolbar a,ul.toolbar a {
    /* 	text-decoration: none; */
    /* 	color: inherit; */
}

ul.caseDetailToolbar li,ul.toolbar li {
    float: left;
    margin-right: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
}

ul.caseDetailToolbar .icon,ul.toolbar .icon {
    margin: 1px auto;
    padding-top: 38px;
    width: 48px;
    display: block;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 13px 13px;
}

@media all and (max-width: 767px) {
    ul.caseDetailToolbar .icon,ul.toolbar .icon {
        margin: 20px auto;
    }
}

ul.caseDetailToolbar a:hover .icon,ul.toolbar a:hover .icon {
    background-image: url("../img/skrivut-02.png");
}

ul.caseDetailToolbar .icon.toolbar_delete,ul.toolbar .icon.toolbar_delete
{
    background-position: -96px 0px;
}

ul.caseDetailToolbar .icon.toolbar_archive,ul.toolbar .icon.toolbar_archive
{
    background-position: -144px 0;
}

ul.caseDetailToolbar .icon.toolbar_print,ul.toolbar .icon.toolbar_print
{
    background-image: url("../img/skrivut-01.png");
}

ul.caseDetailToolbar .icon.toolbar_pdf,ul.toolbar .icon.toolbar_pdf {
}

/**************************/

/******** Alerts **********/

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert {
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 1.2em;
    margin-bottom: 20px;
    padding: 15px;
}