html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    min-height: 100%;
    position: relative;
}

.row-main {
    padding-bottom: 112px; /* Height of footer */
}

#footerblock1177 {
    bottom: 0;
    height: 112px;
    position: absolute;
    width: 100%;
}

.right-align {
    text-align: right;
}

.alert-text {
    color: #cd0a0a;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.avrop-table, .embedded-table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.avrop-table thead {
    background-color: #008391;
    background-image: -webkit-linear-gradient(#128693, #006a7b);
    background-image: linear-gradient(#128693, #006a7b);
    color: #ffffff;
}

.avrop-table td {
    border: 1px solid #000000;
    padding: 8px;
    box-sizing: border-box;
}

.my-products-table .column-0 {
    width: 41px;
}

.my-products-table .column-1 {
    width: 165px;
}

.my-products-table .column-2 {
}

.my-products-table .column-3 {
    width: 100px;
}

.my-products-table.collected-expired-products .column-0 {
    width: 128px;
}

.my-products-table tr.unavailable-row {
    background-color: #dadada
}

.my-products-table .row:not(:first-child) {
    margin-top: 8px;
}

table.single-item-delivery-choice td {
    border: none;
    padding-right: 12px;
}

table.single-item-delivery-choice td label {
    word-break: break-word;
}
hr {
    margin: 32px 0 16px 0;
}

.checkbox {
}

.checkbox input[type="checkbox"] {
    display:none;
}

.checkbox input[type="checkbox"] + label {
    background-image: url("../img/unchecked.png.xhtml?ln=default");
    height: 24px;
    width: 24px;
    display: inline-block;
    padding: 0 0 0 0px;
    background-size: 24px;
    background-repeat: no-repeat;
}

.checkbox input[type="checkbox"]:checked + label {
    display:none;
    background-image: url("../img/checked.png.xhtml?ln=default");
    height: 24px;
    width: 24px;
    display:inline-block;
    padding: 0 0 0 0px;
}

.no-wrap {
    white-space: nowrap;
}

button.back-button, .button.back-button, input[type="submit"].back-button {
    background-image: -webkit-linear-gradient(top, #989898, #6B6B6B);
    border-color: #6B6B6B;

}

button.back-button:hover, .button.back-button:hover, input[type="submit"].back-button:hover {
    background-color: #ffffff;
    background-image: none;
    /*background-color: #929292;*/
    /*background-image: -webkit-linear-gradient(top, #939494, #797979);*/
    color: #6B6B6B;
}

/*** TOOLBAR ***/
ul.caseDetailToolbar,ul.toolbar {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

ul.caseDetailToolbar a,ul.toolbar a {
    /* 	text-decoration: none; */
    /* 	color: inherit; */
}

ul.caseDetailToolbar li,ul.toolbar li {
    float: left;
    margin-right: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
}

ul.caseDetailToolbar .icon,ul.toolbar .icon {
    margin: 1px auto;
    padding-top: 38px;
    width: 48px;
    display: block;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 13px 13px;
}

@media all and (max-width: 767px) {
    ul.caseDetailToolbar .icon,ul.toolbar .icon {
        margin: 20px auto;
    }
}

ul.caseDetailToolbar a:hover .icon,ul.toolbar a:hover .icon {
    background-image: url("../img/skrivut-02.png.xhtml?ln=default");
}

ul.caseDetailToolbar .icon.toolbar_delete,ul.toolbar .icon.toolbar_delete {
    background-position: -96px 0;
}

ul.caseDetailToolbar .icon.toolbar_archive,ul.toolbar .icon.toolbar_archive {
    background-position: -144px 0;
}

ul.caseDetailToolbar .icon.toolbar_print,ul.toolbar .icon.toolbar_print {
    background-image: url("../img/skrivut-01.png.xhtml?ln=default");
}

ul.caseDetailToolbar .icon.toolbar_pdf,ul.toolbar .icon.toolbar_pdf {
}

/**************************/

/******** Alerts **********/

.alert-danger {
    color: #FF0000;
    background-color: #f2dede;
}
.alert {
    border: none;
    border-radius: 4px;
    font-size: 1.2em;
    margin-bottom: 20px;
    padding: 15px;
}

.alert.field-error {
    padding: 4px 8px;
    margin-left: 16px;
}

.alert.field-error {
    position: relative;
    background: #f2dede;
}

.alert.field-error:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(242, 222, 222, 0);
    border-right-color: #f2dede;
    border-width: 8px;
    margin-top: -8px;
}

/**************************/

#startPageContainer .more-info-container {
    min-height: 180px;
}

#termConditionsWrapper ul {
    list-style: disc;
}

.toggle-trigger {
    color: #007180;
    cursor: pointer;
    display: inline-block;
    line-height: 36px;
}

.toggle-trigger.with-text {
    padding-left: 40px;
}

.toggle-trigger.plus-icon.expand {
    background: url("../img/toggle-open.png.xhtml?ln=default") no-repeat;
}

.toggle-trigger.plus-icon.minimize {
    background: url("../img/toggle-close.png.xhtml?ln=default") no-repeat;
}

.info-icon {
    background: url("../img/icon-info-1.png.xhtml?ln=default") no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
}

.info-icon:hover {
    background: url("../img/icon-info-2.png.xhtml?ln=default") no-repeat;
}

.expanded-content {
    font-weight: normal;
}

.column-row {
    /*margin: 30px 0;*/
}

.column-row .col50 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 0 20px 20px 0;
    width: 50%;
}

.row.service-point-row > span {
    min-width: 200px;
    line-height: 30px;
}

.row {
    margin-bottom: 12px;
    position: relative;
}

.row > select,
.row > div,
.row span.before-select {
    float: left;
    margin-right: 24px;
}

.row .notification-method-input-wrapper .before-select {
    min-width: 200px;
}

.notification-method-select {
    float: left;
    width: 82px;
}

.section {
    margin-bottom: 36px;
    position: relative;
}

.clearfix {
    overflow: auto;
}

ul.delivery-options {
    height: 256px;
}

ul.delivery-options li {
    box-sizing: border-box;
    float: left;
    height: 100%;
    width: 50%;
    padding: 24px;
}

input[type="radio"] {
    cursor: pointer;
    zoom: 2;
}

ul.delivery-options li label {
    cursor: pointer;
    display: inline-block;
    font-size: 1.3em;
    line-height: 27px;
    padding-left: 8px;
    position: absolute;
    top: 0;
}

ul.delivery-options li:not(:first-child) {
     border-left: 1px dashed #E3E3E3;
}

.input-group {
    margin-bottom: 16px;
}

.input-group input[disabled="disabled"] {
    background: #E3E3E3;
}

.input-group input[type="text"] {
    border-radius: 5px;
    border: 1px solid #888;
    padding: 7px;
    min-width: 256px;
}

.input-group label {
    display: block;
}

.input-group input[type="text"].postal-number {
    max-width: 80px;
    min-width: 80px;
}

.input-group input[type="submit"] {
    margin: 0 0 0 10px;
}

.input-group img {
    margin-left: 10px;
    vertical-align: middle;
}

.page-introduction {
    margin-bottom: 24px;
}

.door-code-group {
    padding-bottom: 3px;
}

.door-code-group span {
    float: left;
}

#doorCodeReminderText {
    background: #E3E3E3;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #949494;
    display: inline-block;
    float: left;
    margin-left: 20px;
    padding: 12px;
    position: absolute;
    width: 420px;
}

.gray-box {
    background: #E3E3E3;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #949494;
    margin: 20px 0;
    padding: 1px 16px;
}

.arrow-box {
    position: relative;
    background: #E3E3E3;
}
.arrow-box:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(227, 227, 227, 0);
    border-right-color: #E3E3E3;
    border-width: 15px;
    margin-top: -15px;
}

.confirm-empty-door-code {
    background: #ffffff;
    border-radius: 4px;
    float: left;
    max-width: 600px;
    z-index: 100;
}

.confirm-empty-door-code .ui-button {
    display: none;
}

.confirm-empty-door-code .ui-dialog-titlebar {
    background: #007180;
    border-radius: 4px 4px 0 0;
    color: #fff;
    font-weight: bold;
    padding: 8px 16px;
}

.confirm-empty-door-code .ui-dialog-content {
    padding: 8px 16px;
}

.ui-widget-overlay.ui-front {
    position: fixed;
    height: 999999999px;
    width: 999999999px;
    top: 0;
    left: 0;
    background: #888;
    z-index: 99;
    opacity: .7;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {  /*safari and chrome*/
    select {
        height:30px;
        line-height:30px;
        background:#f4f4f4;
    }
}
select::-moz-focus-inner { /*Remove button padding in FF*/
    border: 0;
    padding: 0;
}
@-moz-document url-prefix() { /* targets Firefox only */
    select {
        padding: 15px 0;
    }
}
@media screen\0 { /* IE Hacks: targets IE 8, 9 and 10 */
    select {
        height:30px;
        line-height:30px;
    }
}