ssl_truststore=
ssl_truststore_password=

ssl_keystore=
ssl_keystore_password=

local.mock.service.startup=

backToOwnProfileLink=
logoutLink=
settingsLink=
mvkStartPageLink=
mvkInboxLink=
mvkOtherServicesLink=

GetUserProfileResponderInterface.address=
GetUserProfileByAgentResponderInterface.address=
AddMessageResponderInterface.address=
