html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    min-height: 100%;
    position: relative;
}

.breadcrumbs .link-section {
    display: inline-block;
    white-space: nowrap;
}

.row-main {
    padding-bottom: 112px; /* Height of footer */
}

#footerblock1177 {
    bottom: 0;
    height: 112px;
    position: absolute;
    width: 100%;
}

.right-align {
    text-align: right;
}

.alert-text {
    color: #cd0a0a;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.hidden {
    display: none;
}

.avrop-table, .embedded-table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.avrop-table thead,
.embedded-table td.column-0 {
    background-color: #008391;
    background-image: -webkit-linear-gradient(#128693, #006a7b);
    background-image: linear-gradient(#128693, #006a7b);
    color: #ffffff;
}

.avrop-table td {
    border: 1px solid #000000;
    padding: 8px;
    box-sizing: border-box;
    word-wrap: break-word;
}

.my-products-table .column-0 {
    width: 41px;
}

.my-products-table .column-1 {
    width: 165px;
}

.my-products-table .column-2 {
}

.my-products-table .column-3 {
    width: 100px;
}

.my-products-table.collected-expired-products .column-0 {
    width: 128px;
}

.my-products-table tr.unavailable-row {
    background-color: #dadada
}

.my-products-table .row:not(:first-child) {
    margin-top: 8px;
}

table.single-item-delivery-choice td {
    border: none;
    padding-right: 12px;
    width: 154px;
}

table.single-item-delivery-choice td input {
    vertical-align: middle;
}

table.single-item-delivery-choice td label {
    vertical-align: middle;
    height: 22px;
}

table.single-item-delivery-choice td label {
    word-break: break-word;
}
hr {
    margin: 32px 0 16px 0;
}

.checkbox {
}

.checkbox input[type="checkbox"] {
    position: absolute;
    z-index: -1;
}

.checkbox input[type="checkbox"] + label {
    background-image: url("../img/unchecked.png.xhtml?ln=default");
    height: 24px;
    width: 24px;
    display: inline-block;
    padding: 0 0 0 0px;
    background-size: 24px;
    background-repeat: no-repeat;
}

.checkbox input[type="checkbox"]:checked + label {
    display:none;
    background-image: url("../img/checked.png.xhtml?ln=default");
    height: 24px;
    width: 24px;
    display:inline-block;
    padding: 0 0 0 0px;
}

.no-wrap {
    white-space: nowrap;
}

button.back-button,
.button.back-button,
input[type="submit"].back-button,
input[type="button"].back-button {
    background-image: linear-gradient(#989898, #6B6B6B);
    background-image: -webkit-linear-gradient(top, #989898, #6B6B6B);
    border-color: #6B6B6B;

}

button.back-button:hover:not([disabled="disabled"]),
.button.back-button:hover:not([disabled="disabled"]),
input[type="submit"].back-button:hover:not([disabled="disabled"]),
input[type="button"].back-button:hover:not([disabled="disabled"]) {
    background-color: #ffffff;
    background-image: none;
    /*background-color: #929292;*/
    /*background-image: -webkit-linear-gradient(top, #939494, #797979);*/
    color: #6B6B6B;
}

/*** TOOLBAR ***/
ul.caseDetailToolbar,ul.toolbar {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

ul.caseDetailToolbar a,ul.toolbar a {
    /* 	text-decoration: none; */
    /* 	color: inherit; */
}

ul.caseDetailToolbar li,ul.toolbar li {
    float: left;
    margin-right: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
}

ul.caseDetailToolbar .icon,ul.toolbar .icon {
    margin: 1px auto;
    padding-top: 38px;
    width: 48px;
    display: block;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 13px 13px;
}

@media all and (max-width: 767px) {
    ul.caseDetailToolbar .icon,ul.toolbar .icon {
        margin: 20px auto;
    }
}

ul.caseDetailToolbar a:hover .icon,ul.toolbar a:hover .icon {
    background-image: url("../img/skrivut-02.png.xhtml?ln=default");
}

ul.caseDetailToolbar .icon.toolbar_delete,ul.toolbar .icon.toolbar_delete {
    background-position: -96px 0;
}

ul.caseDetailToolbar .icon.toolbar_archive,ul.toolbar .icon.toolbar_archive {
    background-position: -144px 0;
}

ul.caseDetailToolbar .icon.toolbar_print,ul.toolbar .icon.toolbar_print {
    background-image: url("../img/skrivut-01.png.xhtml?ln=default");
}

ul.caseDetailToolbar .icon.toolbar_pdf,ul.toolbar .icon.toolbar_pdf {
}

.address-rows {
    line-height: 1.6em;
}

/**************************/

/******** Alerts **********/

.alert-danger {
    color: #FF0000;
    background-color: #f2dede;
}
.alert {
    border: none;
    border-radius: 4px;
    font-size: 1.2em;
    margin-bottom: 20px;
    padding: 15px;
}

.alert li {
    margin-bottom: 16px;
}

.alert li:last-child {
    margin-bottom: 0;
}

ul.alert {
    margin: 0;
}

.alert.field-error {
    padding: 4px 8px;
    margin-left: 16px;
}

.alert.field-error {
    position: relative;
    background: #f2dede;
}

.alert.field-error:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(242, 222, 222, 0);
    border-right-color: #f2dede;
    border-width: 8px;
    margin-top: -8px;
}

.sub-article-form .alert ul {
    list-style: initial;
    padding-left: 32px;
}

/**************************/

#startPageContainer .more-info-container {
    min-height: 180px;
}

#termConditionsWrapper ul {
    list-style: disc;
}

.toggle-trigger {
    color: #007180;
    cursor: pointer;
    display: inline-block;
    line-height: 36px;
}

.toggle-trigger.with-text {
    padding-left: 40px;
}

.toggle-trigger.plus-icon.expand {
    background: url("../img/toggle-open.png.xhtml?ln=default") no-repeat;
}

.toggle-trigger.plus-icon.minimize {
    background: url("../img/toggle-close.png.xhtml?ln=default") no-repeat;
}

.delegate-block {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.info-icon {
    background: url("../img/icon-info-1.png.xhtml?ln=default") no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
}

.info-icon:hover {
    background: url("../img/icon-info-2.png.xhtml?ln=default") no-repeat;
}

.expanded-content {
    font-weight: normal;
}

.column-row {
    /*margin: 30px 0;*/
}

.column-row .col50 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 0 20px 20px 0;
    width: 50%;
}

.row.service-point-row > span {
    min-width: 200px;
    line-height: 30px;
}

.row {
    margin-bottom: 12px;
    position: relative;
}

.row > select,
.row > div,
.row span.before-select {
    float: left;
    line-height: 30px;
    margin-right: 24px;
}

ul.articles-info {
    margin-top: 4px;
    list-style: initial;
    padding-left: 24px;
}

.notification-method-select {
    float: left;
    width: 82px;
}

.notification-or-door-delivery {
     display: inline-block;
}

.notification-or-door-delivery td {
    padding-right: 24px;
}

.notification-or-door-delivery label {
    margin-left: 4px;
    position: relative;
    bottom: 6px;
}

.radio-group .alert {
    position: relative;
    bottom: 10px;
}

@media (max-width: 767px) {
    .radio-group .alert.small-screen {
        display: block;
        bottom: 0;
        width: 258px;
        margin: 0;
    }

    .radio-group .alert.field-error:after {
        bottom: 100%;
        left: 50%;
        right: inherit;
        top: inherit;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(242, 222, 222, 0);
        border-bottom-color: #f2dede;
        border-width: 8px;
        margin-top: -8px;
    }
}


.section {
    margin-bottom: 36px;
    position: relative;
}

.clearfix {
    overflow: auto;
}

ul.delivery-options {
    height: 256px;
}

ul.delivery-options li {
    box-sizing: border-box;
    float: left;
    height: 100%;
    width: 50%;
    padding: 24px;
}

ul.delivery-options .row {
    overflow: visible;
}

input[type="radio"] {
    cursor: pointer;
    zoom: 2;
}

ul.delivery-options li input {
    float: left;
    margin: 0 4px 0 2px;
}

ul.delivery-options li label {
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 1.3em;
    line-height: 27px;
}

ul.delivery-options li:not(:first-child) {
     border-left: 1px dashed #E3E3E3;
}

.input-group {
    margin-bottom: 16px;
}

.input-group input[disabled="disabled"] {
    background: #E3E3E3;
}

input[disabled="disabled"]+label,
input[disabled="disabled"][type="submit"],
input[disabled="disabled"][type="button"] {
    opacity: .5;
}

ul.delivery-options li input[disabled="disabled"]+label {
    cursor: default;
}

.input-group input[type="text"] {
    border-radius: 5px;
    border: 1px solid #888;
    padding: 7px;
    min-width: 256px;
}

.input-group label {
    display: block;
}

.input-group input[type="text"].postal-number {
    max-width: 80px;
    min-width: 80px;
}

.input-group input[type="submit"] {
    margin: 0 0 0 10px;
}

.input-group img,
.input-group span.alert {
    margin-left: 10px;
    vertical-align: middle;
}

.page-introduction {
    margin-bottom: 24px;
}

.door-code-group {
    padding-bottom: 3px;
}

.door-code-group span {
    float: left;
}

#doorCodeReminderText {
    background: #E3E3E3;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #949494;
    display: inline-block;
    float: left;
    margin-left: 20px;
    padding: 12px;
    position: absolute;
    width: 420px;
}

.gray-box {
    background: #E3E3E3;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #949494;
    margin: 20px 0;
    padding: 1px 16px;
}

.arrow-box {
    position: relative;
    background: #E3E3E3;
}
.arrow-box:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(227, 227, 227, 0);
    border-right-color: #E3E3E3;
    border-width: 15px;
    margin-top: -15px;
}

@media (max-width: 767px) {

    .door-code-group span {
        display: block;
        float: none;
    }

    #doorCodeReminderText {
        display: block;
        position: relative;
        /*margin-top:20px;*/
        margin: 20px 0 0 0;

        width: 264px;
    }

    .arrow-box:after {
        right: 50%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(227, 227, 227, 0);
        border-bottom-color: #E3E3E3;
        border-width: 15px;
        margin-right: -15px;
        margin-top: -72px;
    }

    .input-group label {
        float: left;
    }

    .gray-box .input-group label {
        float: none;
    }

    .small-screen.alert.field-error {
        padding: 1px 8px;
        display: inline;
    }

    .alert.field-error {
        display: none;
    }

    .row > select, .row > div, .row span.before-select {
        display: block;
        float: none;
    }

    .notification-method-select {
        display: block;
        float: none;
    }

    .empty-label {
        height: 0;
    }

    .ui-dialog button {
        display: block;
        width: 100%;
    }

    .delegate-block .delegate-header .expanded-content {
        text-align: left;
    }
}

@media (max-width: 479px) {

    input[type=submit], input[type=button], input[type=text], select, select.notification-method-select, a.button {
    box-sizing: border-box;
        display: block;
        width: 100%;
    }

    .sub-article-row input[type=text] {
        box-sizing: content-box;
        display: inline;
        width: 24px;
    }

    .input-group input[type="submit"] {
        margin: 10px 0;
    }

    .input-group input[type=text].postal-number {
        max-width: 100%;
    }

    .row > div {
        margin-right: 0;
    }

    ul.delivery-options li input {
        margin-right: 1px;
    }

    ul.delivery-options .row {
        height: 32px;
        min-width: 150px;
    }

    ul.delivery-options {
        overflow: visible;
    }

    .delivery-options-wrapper {
        overflow: visible;
    }

    ul.delivery-options li label {
        font-size: 1.2em;
    }

    .row-wrapper {
        overflow: visible;
    }

    .column-row .col50 {
        width: auto;
        float: left;
    }

    .delegate-block {
        padding: 6px 8px;
    }
}

.confirm-empty-door-code {
    background: #ffffff;
    border-radius: 4px;
    float: left;
    max-width: 600px;
    z-index: 100;
}

.confirm-empty-door-code .ui-button {
    display: none;
}

.confirm-empty-door-code .ui-dialog-titlebar {
    background: #007180;
    border-radius: 4px 4px 0 0;
    color: #fff;
    font-weight: bold;
    padding: 8px 16px;
}

.confirm-empty-door-code .ui-dialog-content {
    padding: 8px 16px;
}

.ui-widget-overlay.ui-front {
    position: fixed;
    height: 999999999px;
    width: 999999999px;
    top: 0;
    left: 0;
    background: #888;
    z-index: 99;
    opacity: .7;
}

.row-wrapper {
    padding-top: 1px;
}
/* Radio buttons */

input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #ccc;
    height: 25px;
    width: 25px;
    zoom: 1;
    border-radius: 50%;
    border: 5px solid #ccc;
    box-shadow: 0 0 0 1px #128592;
}

input[type=radio]:checked {
    background: #006a7b;
}

input[type=radio]:disabled {
    opacity: .5;
}

input[type=radio] {
    outline: none;
}
/*.avrop-table label {
    position: relative;
    float: left;
    clear: left;
    display: block;
    padding-left: 28px;
    margin-bottom: 12px;
    line-height: 22px;
    !*font-size: 18px;*!
    !*color: #666;*!
    cursor: pointer;
}
.avrop-table label:before {
    background: #fff;
    content: "";
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 23px;
    height: 23px;
    border: 1px solid #bbb;

    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;

    box-shadow: inset 0 0 3px 0 #ccc;
    -moz-box-shadow: inset 0 0 3px 0 #ccc;
    -webkit-box-shadow: inset 0 0 3px 0 #ccc;
}
.avrop-table input[type="radio"] {
    display: none;
}
.avrop-table input[type="radio"]:checked + label:before {
    content: "\2022";
    text-align: center;
    line-height: 18px;
    !*line-height: 15px;*!
    font-family: Tahoma;
    font-size: 38px;
    !*font-size: 44px;*!
    color: #008391;
    text-indent: 2px;
    text-shadow: 0 0 4px #bbb;
}*/

/* Override jQuery to fix issue in IE where mask didn't get any size. */
body .ui-front.ui-widget-overlay {
    width: 50000px;
    height: 50000px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {  /*safari and chrome*/
    select {
        height:30px;
        line-height:30px;
        background:#f4f4f4;
    }
}
select::-moz-focus-inner { /*Remove button padding in FF*/
    border: 0;
    padding: 0;
}
@-moz-document url-prefix() { /* targets Firefox only */
    select {
        padding: 15px 0;
    }
}
@media screen\0 { /* IE Hacks: targets IE 8, 9 and 10 */
    select {
        height:30px;
        line-height:30px;
    }
}

@media (max-width: 767px) {
    .my-products-table .column-1 {
        width: 80px;
        word-wrap: break-word;
    }

    .my-products-table .column-3 {
        width: 44px;
    }

    .my-products-table.collected-expired-products .column-0 {
        width: 67px;

    }
}

.verify-delivery .column-4 {
    width: 200px;
}

@media (max-width: 767px) {
    .verify-delivery .column-4 {
        width: 140px;
    }
}

@media (max-width: 479px) {
    .verify-delivery .column-4 {
        display: none;
    }
}

.small-screen {
    display: none;
}

.embedded-table.small-screen {
    word-wrap: break-word;
}

.embedded-table td.column-0,
.embedded-table.small-screen td.column-0 {
    width: auto;
}

.short-number-input {
    padding: 6px;
    width: 28px;
}

table.sub-articles-table {
    table-layout: auto;
}

table.sub-articles-list td {
    border: none;
    padding: 3px 8px 2px 0;
}

@media (max-width: 767px) {
    table.sub-articles-table:not(.embedded-table) tbody td {
        display: table-row;
        line-height: 36px;
        white-space: nowrap;
    }

    table.sub-articles-table:not(.embedded-table) tbody td .whats-left {
        left: 26px;
        position: relative;
    }
}

table.sub-articles-table:not(.embedded-table) tbody td .aligned {
    margin-left: calc(50% + 4px);
}

.paragraph {
    margin-top: 12px;
}

@media (max-width: 960px) {

    .avrop-table td, .embedded-table td, table.sub-articles-table td {
        padding: 3px;
    }

    .embedded-table {
        display: none;
    }

    .embedded-table.small-screen, .embedded-table.always-show {
        display: table;
        width: 100%;
    }

    .embedded-table.small-screen tbody {
        width: 100%;
    }
}

@media (max-width: 479px) {
    ul.delivery-options li {
        padding: 8px;
    }
}

/* Image preview */

#imageDialog {
    background: #555;
    border-radius: 4px;
    padding: 4px 4px 0 4px;
}

.ui-dialog:focus {
    outline: none;
}

.ui-dialog .ui-dialog-titlebar {
    display: none;
}

.image-preview {
    display: block;
    z-index: 100;
}

#imageDialog {
    position: fixed !important;
    top: 50% !important;
    transform: translateY(-50%);
    left: 50% !important;
    transform: translateX(-50%) translateY(-50%);
    transition: all 0.25s ease;
}

#previewImage {
    max-width: 500px !important;
    max-height: 400px !important;
}

@media (max-width: 767px) {
    #previewImage {
        max-width: 480px !important;
    }
}

@media (max-width: 479px) {
    #previewImage {
        max-width: 300px !important;
    }
}

#spinner {
    width: 50%;
    top: 22px;
    position: relative;
    left: 22%;
}

/* Sub-articles */
.sub-articles-table {
    margin-bottom: 24px;
}

.sub-articles-table td {
    padding: 4px 8px;
}

.sub-articles-table input[type="text"] {
    text-align: center;
}

.sub-articles-table h3 {
    margin-top: 18px;
}

.sub-article-name {
    width: 192px;
}

.sub-article-row {
    margin-bottom: 8px;
}

.circle-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: #008391;
    border-radius: 50%;
    border: 1px solid #008391;
    text-align: center;
    color: #fff;
    font-size: 2em;
    line-height: 26px;
    margin: 0 8px;
    font-family: sans-serif;
    font-weight: bold;
}

.circle-icon .circle-icon-content {
    position: relative;
    top: 1px;
}

.circle-icon:hover {
    cursor: pointer;
    background: #ffffff;
    color: #008391;
}

span.circle-icon.minus {
    margin-left: 24px;
}

.sub-article-row > span  {
    float: left;
    height: 52px;
    align-items: center;
    display: flex;
}

[v-cloak] {
    display: none;
}

.link-row a {
    margin-right: 8px;
}

/**************************/
