input[type=range] {
    position: relative !important;
    top: 16px !important;
}

/* IE 11 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    span input[type=range] {
        top: 10px;
    }

    .circle-icon.plus .circle-icon-content {
        top: 3px;
    }
}

/* IE Edge */
@supports (-ms-accelerator:true) {
    span input[type=range] {
        top: 6px;
    }

    .circle-icon.plus .circle-icon-content {
        top: 3px;
    }
}